@model IEnumerable<Customer>
<h1>Customers <a class="btn btn-primary btn-sm" asp-action="Create">Add</a></h1><table class="table table-striped data-table"><thead><tr><th>Name</th><th>GSTIN</th><th>State</th><th></th></tr></thead><tbody>@foreach(var x in Model){<tr><td>@x.CustomerName</td><td>@x.GSTIN</td><td>@x.State</td><td><a asp-action="Edit" asp-route-id="@x.Id">Edit</a><form asp-action="Delete" asp-route-id="@x.Id" method="post" class="d-inline delete-form"><button class="btn btn-link text-danger">Delete</button></form></td></tr>}</tbody></table>
